@import url("pygment.css");
/* @import url('https://fonts.googleapis.com/css?family=Lato'); */
/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

/* Global variables */
:root {
    --nic_red: #C64350;
}


/* Global reset / clean slate */
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, li, p, blockquote, pre, form, fieldset, table, th, td {
    margin: 0;
    padding: 0;
}

/* HTML5 tags */
section, footer,
aside, article, figure {
	display: block;
}

#banner {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.header {
    max-width: 800px;
    width: 100%;
}

body {
    display: flex;
    flex-flow: row wrap;
    background: #fff;
    color: #000305;
    font-size: 90%; /* Base font size: 14px */
    font-family: 'Lato', sans-serif;
    line-height: 1.429;
    margin: 0;
    /* margin-right: 0.5em; */
    padding: 0;
    text-align: left;
    width: 100%;
    max-width: 800px;
}

.body {
    clear: both;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}
img {
    max-width: 100%;
}
img.right, figure.right, div.figure.align-right {
    float: right;
    margin: 0 0 2em 2em;
}
img.left, figure.left, div.figure.align-left {
    float: left;
    margin: 0 2em 2em 0;
}

/* Page header */

.logo-and-search {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header_image {
    padding: 5px 0px 3px 0px;
    order: 1;
}

.search-input-block {
    float: right;
    padding-top: 1em;
    padding-bottom: 1em;
    vertical-align: top;
    order: 2;
}

.search-input {
    width: 200px;
    font-family: 'Lato', sans-serif;
}

.header_table {
    vertical-align: middle;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}

.header_summary {
    color: inherit;
    width: 100%;
}
/* .header_summary:before {
    content: ':::';
    color: var(--nic_red);
} */

/* ### Above Navbar */

.above-navbar {
    width: 100%;
    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: #000;
    /* order: 2; */
}

.last_updated {
    background: #fff;
    float: left;
    color: #000305;
    font-size: 90%; /* Base font size: 14px */
    text-align: left;
    width: 50%;
    margin: auto;
    order: 1;
}

.notes_count {
    background: #fff;
    color: #000305;
    font-size: 90%; /* Base font size: 14px */
    text-align: right;
    position: relative;
    float: right;
    width: 50%;
    margin: auto;
    order: 2;
}

/* Navbar */

nav {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

nav ul,li {
    justify-content: space-between;
}



/* Headings */
h1 {
    font-size: 1.5em;
    margin-top: 1em;
    color: var(--nic_red);
}

h2 {
    font-size: 1.3em;
    margin-top: 1.4em;
}
h2:before {
    content: '>> ';
    color: var(--nic_red);
}

h3 {
    font-size: 1.2em;
    margin-top: 1.3em;
    /* color: var(--nic_red); */
}
h3:before {
    content: '>>> ';
    color: var(--nic_red);
}

h4 {
    font-size: 1.1em;
    margin-top: 1.2em;
}
h4:before {
    content: '>>>> ';
    color: var(--nic_red);
}

h5 {
    font-size: 1em;
    margin-top: 1.1em;
}

h6 {
    font-size: 0.9em;
    margin-top: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: .8em;
}

/* h2, h3, h4, h5, h6 { margin-top: .8em; } */

hr {
    border: 2px solid #000;
    /* margin: 0 10px 0 0; */
}

/* Anchors */
a {
    outline: 0;
}
a img {
    border: 0px; 
    text-decoration: none;
}

a:link, a:visited {
	color: #000000;
	padding: 0 1px;
	text-decoration: underline;
}
a:hover, a:active {
	/* background-color: #C74350; */
	color: #C74350;
	/* text-decoration: none; */
}

h1 a:hover {
    background-color: inherit
}

/* Paragraphs */
div.line-block,
p { margin-top: 1em;
    margin-bottom: 1em;}

strong, b {font-weight: bold;}
em, i {font-style: italic;}

/* Lists */
ul {
	/* list-style: outside disc; */
    /* list-style: square inside url(https://notes.nicolasdeville.com/images/edelweiss_black.svg); */
    list-style-image: url(https://notes.nicolasdeville.com/images/edelweiss_black.svg);
    /* margin: 0em 0 0 1.5em; */
    width: 100%;
}

ol {
	list-style: outside decimal;
	margin: 0em 0 0 1.5em;
}

li {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-right: 0.3em;
    margin-left: 1.5em;
    /* width: 100%; */
}
/* to remove the left margin on "previous notes" posts lists */
#posts-list li {
    margin-left: 0;
    }

/* Articles */
.post-info {
    width: 100%;
    text-align: right;
    margin: 0;
    margin-right: 0.5em;
    padding: 0;
    /* border-right: 2px solid #eee;
    border-bottom: 2px solid #eee; */
    box-shadow: 0 0px 0px 0 #eee; /* offset-x | offset-y | blur-radius | spread-radius | color */
}

/* .post-info p{
    /* margin-top: 1px;
    margin-bottom: 1px; */

.readmore { 
    float: right;
}

dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {
    margin-left: 1.5em;
}

pre {
    background-color: #1d1d1d; 
    color: #fff;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    /* margin: 10px;  */
    overflow: auto;
    border-radius: 0.5em;
    /* font-size: .7rem; */
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    /* 220911 adding for copy code feature: */
    position: relative;

    font-size: 1rem;
}
/* pre:hover, pre:focus {
    width: min-content; 
} */

code {
    background-color: #1d1d1d;
    /* width: 100%; */
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace, Courier;
    /* line-height: 1.2rem; */
    overflow-wrap: normal;
    display: inline-block;
    /* border: solid 2px #5882FA; */
    /* color: #C74350; */
    color: #9CDAFC;
    /* border: solid 1px #fff; */
    border-radius: 0.3em;
    padding: 2px 5px 2px 5px; /* needed for code inline */
    margin: 0px 3px 0px 3px;
    /* white-space: nowrap; puts all on one line */
    font-size: 0.8rem;

    /* 220916 adding for mobile responsiveness */
    /* width: 100%; makes each code snippet full width */
    
}

/* 220911 adding for copy code feature: */

.clipboard-button {
    position: absolute;
    right: 0;
    padding: 2px 7px 5px 7px;
    margin: 5px;
    color: #767676;
    border-color: #767676;
    background-color: #ededed;
    border: 1px solid;
    border-radius: 0.5em;
    font-size: 0.8em;
    z-index: 1;
    opacity: 0;
    transition: 0.1s;
}
    .clipboard-button > svg {
        fill: #767676;
    }
    .clipboard-button:hover {
        cursor: pointer;
        border-color: #696969;
        background-color: #e0e0e0;
    }
    .clipboard-button:hover > svg {
        fill: #696969;
    }
    .clipboard-button:focus {
        outline: 0;
    }
.highlight {
    position: relative;
}
    .highlight:hover > .clipboard-button {
        opacity: 1;
        transition: 0.2s;
    }  

blockquote {

    display: block;
    /* background: #ddd; */
    padding: 0.5em 1em 0.5em 1em;
    /* margin: 0 0 20px; */
    /* position: relative; */

    /* font-family: Georgia, serif; */
    font-size: 1.1em;
    /* line-height: 1.2; */
    /* color: #000; */

    border-left: 8px solid var(--nic_red);
    margin-top: 1em;
    margin-bottom: 1em;

    /*Box Shadow*/
    /* -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000; */

    /*Borders - (Optional)*/

    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: var(--nic_red);

    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: var(--nic_red);

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--nic_red);

    /* border-left-style: solid;
    border-left-width: 15px;
    border-left-color: #000; */

}

/* cite {} */

/* q {} */

div.note {
    float: right;
    margin: 5px;
    font-size: 85%;
    max-width: 300px;
}

/* Tables */
table {
    margin: .5em auto 1.5em auto; 
    width: 100%;
}

	/* Thead */
	thead th {
        padding: .5em .4em; 
        text-align: left;
        font-weight: bold;
        font-size: 1.1em;
        border-bottom: 1px solid black;
        vertical-align: bottom;
        color: white;
        background-color: black;
        line-height: 1em;
    }
	thead td {}

	/* Tbody */
	tbody td {
        padding: .5em .4em;
        vertical-align: top;
        border-bottom: 1px solid black;
    }
	tbody th {}

	tbody .alt td {}
	tbody .alt th {}

	/* Tfoot */
	tfoot th {}
	tfoot td {}

    /* to ensure content in first column does not wrap */
    tbody > tr:first-child > td:first-child {
        white-space: nowrap; 
    }




/*
	Header
*****************/
#banner {
	margin: 0;
	padding: 0;
}

	/* Banner */
	#banner h1 {
		font-size: 2em;
		line-height: 1.0;
		margin-bottom: .2em;
        margin-top: .2em;
	}

	#banner h1 a:link, #banner h1 a:visited {
		color: #000305;
		display: block;
		font-weight: bold;
		margin: 0 0 0 .2em;
		text-decoration: none;
	}
	#banner h1 a:hover, #banner h1 a:active {
		background: none;
		color: #C74350;
		text-shadow: none;
	}

	#banner h1 strong {
    font-size: 0.36em;
    font-weight: normal;
    }

	/* Main Nav */
	#banner nav {
		background: #000305;
		font-size: 1.1em;
		overflow: auto;
		line-height: 30px;
		/* margin: 0 auto 2em auto; */
		padding: 0;
        margin: 0;
		text-align: center;
		max-width: 800px;
	}

	#banner nav ul {
    list-style: none;
    /* margin: 0 auto; top | right | bottom | left */
    margin: 0;
    /* max-width: 800px; */
    }
	#banner nav li {
    float: left;
    display: inline;
    margin: 0;
    }

	#banner nav a:link, #banner nav a:visited {
		color: #fff;
		display: inline-block;
		height: 30px;
		padding: 3px 1em;
		text-decoration: none;
	}
	#banner nav a:hover, #banner nav a:active,
	#banner nav .active a:link, #banner nav .active a:visited {
		background: #C74451;
		color: #fff;
		text-shadow: none !important;
	}

/*
	Featured
*****************/
#featured {
    padding-right: 0.5em;
}


/*
	Body
*****************/
#content {
	background: #fff;
	margin-bottom: 2em;
	overflow: hidden;
	/* padding: 20px 20px; */
	max-width: 800px;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

/*
	Extras
*****************/
#extras {margin: 0 auto 3em auto; overflow: hidden;}

#extras ul {list-style: none; margin: 0;}
#extras li {border-bottom: 1px solid #fff;}
#extras h2 {
	color: #C74350;
	font-size: 1.429em;
	margin-bottom: .25em;
	padding: 0 3px;
}

#extras a:link, #extras a:visited {
	color: #444;
	display: block;
	border-bottom: 1px solid #F4E3E3;
	text-decoration: none;
	padding: .3em .25em;
}

#extras a:hover, #extras a:active {color: #C74350;}

	/* Blogroll */
	#extras .blogroll {
        margin-left: 1em;
        margin-right: 0.5em;
        line-height: 2em;
		float: left;
		max-width: 200px;
	}

	#extras .blogroll li {float: left; margin: 0 20px 0 0; max-width: 185px;}

	/* Social */
	#extras .social {
		float: right;
		max-width: 175px;
        margin-right: 0.5em;
	}

	#extras div[class='social'] a {
		background-repeat: no-repeat;
		background-position: 3px 6px;
		padding-left: 25px;
	}

		/* Icons */
		.social a[href*='about.me'] {background-image: url('../images/icons/aboutme.png');}
		.social a[href*='github.com'],
		.social a[href*='git.io'] {
			background-image: url('../images/icons/github.png');
			background-size: 16px 16px;
		}
		.social a[href*='linkedin.com'] {
        background-image: url('../images/icons/linkedin.svg');
        background-size: 16px 16px;
    }
		.social a[href*='reddit.com'] {background-image: url('../images/icons/reddit.png');}
		.social a[href*='stackoverflow.com'] {background-image: url('../images/icons/stackoverflow.png');}
		.social a[href*='twitter.com'] {
        background-image: url('../images/icons/twitter.svg');
        background-size: 16px 16px;
    }

    /* .blogroll a[href*='indeXall.io'] {
        background-image: url('../images/icons/indeXall.svg');
        background-size: 16px 16px;
    } */

/*
	About
*****************/
#about {
	background: #fff;
	font-style: normal;
	margin: 1em;
	overflow: hidden;
	/* padding: 20px; */
	text-align: left;
	max-width: 760px;
}

#about .primary {
    float: left;
    max-width: 165px;
}
#about .primary strong {
    color: var(--nic_red);
    display: block;
    font-size: 1.286em;
}
#about .photo {
    float: left;
    margin: 5px 20px;
}

#about .url:link, #about .url:visited {text-decoration: none;}

#about .bio {float: right; max-width: 500px;}

/*
	Footer
*****************/
#contentinfo {
    padding-bottom: 2em;
    text-align: right;
}

/***** Sections *****/
/* Blog */
.hentry {
	display: block;
	clear: both;
	border-top: 2px solid #eee;
    border-left: 4px solid #eee;
	padding: 0 0 0 1em; /* top | right | bottom | left */
}
li:first-child .hentry, #content > .hentry {
    border: 0;
    margin: 0;
	border-top: 2px solid #eee;
    border-left: 4px solid #eee;
}

/* #content > .hentry {
    padding: 0 0 0 1em;
} */

/* .hentry img{display : none ;} */

.entry-title {
    font-size: 2em;
    margin-bottom: 5px;
    /* margin-left: 0.5em; */
  /* margin-top: 1em; */
}
.entry-title a:link, .entry-title a:visited {
    text-decoration: none;
    color: #333;
}
.entry-title a:visited {
    background-color: #fff;
}

.entry-content {
    margin-left: 0.1rem;
    margin-right: 0.5rem;
}

.hentry .post-info * {
    font-style: normal;
}

	/* Content */
	.hentry footer {
    margin-bottom: 1em;
}
	.hentry footer address {
    display: inline;
}

	#posts-list footer address {
    display: block;
}

	/* Blog Index */
	#posts-list {
    list-style: none;
    margin: 0;
}
	/* #posts-list .hentry {padding-left: 10px; position: relative;} */

	#posts-list footer {
		/* left: 10px; */
		position: relative;
        /* float: left; */
		/* top: 0.5em; */
		/* max-width: 190px; */
	}

	/* About the Author */
	#about-author {
		background: #f9f9f9;
		clear: both;
		font-style: normal;
		margin: 2em 0;
		padding: 10px 20px 15px 20px;

	}

	#about-author strong {
		color: var(--nic_red);
		clear: both;
		display: block;
		font-size: 1.429em;
	}

	#about-author .photo {border: 1px solid #ddd; float: left; margin: 5px 1em 0 0;}

	/* Comments */
	#comments-list {list-style: none; margin: 0 1em;}
	#comments-list blockquote {
		background: #f8f8f8;
		clear: both;
		font-style: normal;
		margin: 0;
		padding: 15px 20px;
	}
	#comments-list footer {
    color: #888;
    padding: .5em 1em 0 0;
    text-align: right;
    }

	#comments-list li:nth-child(2n) blockquote {background: #F5f5f5;}

	/* Add a Comment */
	#add-comment label {clear: left; float: left; text-align: left; max-width: 150px;}
	#add-comment input[type='text'],
	#add-comment input[type='email'],
	#add-comment input[type='url'] {float: left; max-width: 200px;}

	#add-comment textarea {float: left; height: 150px; max-width: 495px;}

	#add-comment p.req {clear: both; margin: 0 .5em 1em 0; text-align: right;}

	#add-comment input[type='submit'] {float: right; margin: 0 .5em;}
	#add-comment * {margin-bottom: .5em;}

/* LINK TAGS */

.link_tag:link {
    background-color: black;
    color: white;
    padding-top: 0.3em;
    padding-right: 1em;
    padding-bottom: 0.3em;
    padding-left: 1em;
    margin-top: 0.3em;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border-radius: 1em;
    /* border: 2px solid #000000; */
    /* line-height: 5em; */
}

.link_tag:visited {
    background-color: black;
    color: white;
    /* text-align: center; */
    /* display: inline-block; */
    /* text-decoration: none; */
    /* border-radius: 4px; */
    /* line-height: 5em; */
}

.link_tag:hover, .link_tag:active {
    background-color: #C74350;
    /* color: white; */
    /* text-decoration: underline; */
    /* border: 2px solid white; */
}

/* TAGS */

.tag {
    background-color: black;
    color: white;
    padding-top: 0.2em;
    padding-right: 0.4em;
    padding-bottom: 0.2em;
    padding-left: 0.4em;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border-radius: 3px;
    /* border: 2px solid #000000; */
    /* line-height: 5em; */
}

/* IMAGES */

.illustration {
    box-shadow: 4px 4px 10px #000; /* offset-x | offset-y | blur-radius | color */
    margin: auto;
    display: block;
}

.screenshot {
    margin: auto, auto, auto, 0;
    display: block;
}

.app_icon {
    margin: 0;
    display: block;
    width:50px;
}

.iphone {
    box-shadow: 4px 4px 10px #000; /* offset-x | offset-y | blur-radius | color */
    width: 50%;
    margin: auto;
    display: block;
}

.book {
    box-shadow: 4px 4px 10px #000; /* offset-x | offset-y | blur-radius | color */
    width: 50%;
    margin: auto;
    display: block;
}

.album {
    box-shadow: 4px 4px 10px #000; /* offset-x | offset-y | blur-radius | color */
    margin: auto;
    display: block;
	max-width: 400px;
}


/* NOTES */

.fitwidth {
    width: 60px;
    white-space: nowrap;
}

.hfeed { /* removes the indent in post feeds */
    padding: 0;
    margin-right: 0.5em;
}

.separator {
    color: var(--nic_red);
    font-size: 1.2em;
}

.notes-section {
    font-size: 2em;
    line-height: 1em;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 8px;
    margin-bottom: 0px;
    padding: 0px;
}

.title_container {
    display: block;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
}

.article_container {
    width: 100%;
    padding: 1em 1em 1em 1em;
    border: 1px solid #000;
    position: relative;
    padding: 1em 1em 1em 1em;
}

.shadow {
  /* box-shadow: 1px 1px 1px 1px; */
    box-shadow: 4px 4px 10px #eee;
    padding: 1px 0 0.1em 1em;
  /* margin: 1em; */
}

.foldtl {
    position: relative;
    -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
    -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
}

.foldtl:before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 0px;
    height: 0px;
    border-bottom: 70px solid #eee;
    border-left: 70px solid #272822; /*Set to background color, not transparent!*/
    -webkit-box-shadow: 7px 7px 7px rgba(0,0,0,0.3);
    -moz-box-shadow: 7px 7px 7px rgba(0,0,0,0.3);
    box-shadow: 7px 7px 7px rgba(0,0,0,0.3);
}

.twitter-tweet {
    margin: auto;
}

/* for line number colouring in code blocks */
.normal {  
    color: #fff;
    font-weight: bold;
    font-size: 1.1em;
}

.movie-script {
    /* background: #fff; */
    /* color: white; */
}

.datestamp {
    font-size: 0.8em;
    font-weight: bold;
    /* color: #333; */
    color: #000;
    /* background-color: #ddd; */
    padding: 0.3em 0.5em 0.3em 0.5em;
    /* border: solid 2px #999; */
    border: solid 3px #000;
    /* border-radius: 1em; */
    line-height: 3em; /* to avoid overlap over lines */
    margin-right: 0.5em;
}

.datestamp-starting {
    font-size: 0.8em;
    font-weight: bold;
    /* color: #333; */
    color: #000;
    /* background-color: #ddd; */
    padding: 0.3em 0.5em 0.3em 0.5em;
    /* border: solid 2px #999; */
    border: solid 3px #000;
    /* border-radius: 1em; */
    line-height: 3em; /* to avoid overlap over lines */
    margin-right: 0.5em;
}
.datestamp-starting:after {
    content: ' > starting note';
    /* color: var(--nic_red); */
}

.datestamp-update {
    font-size: 0.8em;
    font-weight: bold;
    /* color: #333; */
    color: #000;
    /* background-color: #ddd; */
    padding: 0.3em 0.5em 0.3em 0.5em;
    /* border: solid 2px #999; */
    border: solid 3px #000;
    /* border-radius: 1em; */
    line-height: 3em; /* to avoid overlap over lines */
    margin-right: 0.5em;
}
.datestamp-update:after {
    content: ' > update';
    /* color: var(--nic_red); */
}


/* MY LINKS / BOOKMARKS */

.link_border {
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    /*Borders*/

    border-left: 8px solid black;

    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #000;

    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #000;

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #000;

    padding: 0.5rem;

    height: 100%;
    display: flex;
    order: 2;
    width: 100%;
}

    .link_logo_box {
        position: relative;
        float: left;
        width: 10%;
        margin: auto;
        order: 1;
    }

    .link_logo {
        width: 100%;
        margin: auto;
        display: block;
    }

    .link_content {
        position: relative;
        float: right;
        width: 90%;
        margin: auto;
        order: 2;
    }

        .link_title {
            font-weight: bold;
            margin-left: 0.8em;
            font-size: 1.1em;
            /* Lato Black = weight 900 */
            font-weight: 900; 
        }

        .link_tagline {
            font-size: 0.9em;
            margin-left: 0.8em;
            font-weight: 700;
        }

        .link_url {
            font-size: 0.8em;
            margin-left: 0.8em;
        }

/* BOOKS QUOTES */

.book_quote {
    border-left: 8px solid var(--nic_red);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    /*Borders*/

    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #000;

    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #000;

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #000;

    /* border-left-style: solid;
    border-left-width: 15px;
    border-left-color: #000; */
}

.book_quote_title {
    font-weight: bold;
    margin-left: 0.8em;
}

.book_quote_location {
    font-size: 0.8em;
    margin-left: 1.5em;
    padding-top: 0.5em
}

.book_quote_highlight {
    margin-left: 1.5em;
}

.toc {
	border-left: 4px solid #333;
    margin-bottom: 1em;
	color: #333;
	font-size: 0.8em;
	background: #eee;
	padding: 0.8rem;
}

.toc ul {
    list-style: none; /* Remove default bullets */
}
.toc ul li::before {
    /* content: "\2022";  Add content: \2022 is the CSS Code/unicode for a bullet */
    content: "> ";
    color: var(--nic_red); /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.toc li {
    color: #333;
}

.toctitle {
	color: #333;
    font-weight: bold;
    font-size: 1.5em;
	font-variant-caps: small-caps;
}

/* TEST */

.test {
    display: block;
    width: 100%;
    text-align: right;
    margin: 0px;
    padding: 0 10px 0 0;
    border-right: 2px solid #eee;
    border-bottom: 2px solid #eee;
    box-shadow: 3px 6px 0 0 #eee; /* offset-x | offset-y | blur-radius | spread-radius | color */
}