@import url("pygment.css");
@import url('https://fonts.googleapis.com/css?family=Lato');

/* Global reset / clean slate */
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, li, p, blockquote, pre, form, fieldset, table, th, td {
    margin: 0;
    padding: 0;
}

/* HTML5 tags */
section, footer,
aside, article, figure {
	display: block;
}

#banner {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.header {
    max-width: 800px;
    width: 100%;
}

nav {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

nav ul,li {
    justify-content: space-between;
}

body {
    display: flex;
    flex-flow: row wrap;
    background: #fff;
    color: #000305;
    font-size: 90%; /* Base font size: 14px */
    font-family: 'Lato', Arial, sans-serif;
    line-height: 1.429;
    margin: 0;
    /* margin-right: 0.5em; */
    padding: 0;
    text-align: left;
}

.body {
    clear: both;
    margin: 0 auto;
    max-width: 800px;
}
img {
    max-width: 100%;
}
img.right, figure.right, div.figure.align-right {
    float: right;
    margin: 0 0 2em 2em;
}
img.left, figure.left, div.figure.align-left {
    float: left;
    margin: 0 2em 2em 0;
}

.notes_count {
    background: #fff;
    max-width: 800px;
    color: #000305;
    font-size: 90%; /* Base font size: 14px */
    font-family: 'Lato', Arial, sans-serif;
    margin-right: 0.5em;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: right;
}

/* Headings */
h1 {
    font-size: 1.5em;
    margin-top: 1em;
    color: #C64350;
}

h2 {
    font-size: 1.4em;
    margin-top: 1.4em;
    /* color: #C64350; */
}
h2:before {
    content: '>> ';
    color: #C64350;
}

h3 {
    font-size: 1.3em;
    margin-top: 1.3em;
    /* color: #C64350; */
}
h3:before {
    content: '>>> ';
    color: #C64350;
}

h4 {
    font-size: 1.2em;
    margin-top: 1.2em;
}
h4:before {
    content: '>>>> ';
    color: #C64350;
}

h5 {
    font-size: 1.1em;
    margin-top: 1.1em;
}

h6 {
    font-size: 1em;
    margin-top: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: .8em;
}

/* h2, h3, h4, h5, h6 { margin-top: .8em; } */

hr {
    border: 2px solid #000;
    /* margin: 0 10px 0 0; */
}

/* Anchors */
a {
    outline: 0;
}
a img {
    border: 0px; 
    text-decoration: none;
}

a:link, a:visited {
	color: #000000;
	padding: 0 1px;
	text-decoration: underline;
}
a:hover, a:active {
	/* background-color: #C74350; */
	color: #C74350;
	/* text-decoration: none; */
}

h1 a:hover {
    background-color: inherit
}

/* Paragraphs */
div.line-block,
p { margin-top: 1em;
    margin-bottom: 1em;}

strong, b {font-weight: bold;}
em, i {font-style: italic;}

/* Lists */
ul {
	/* list-style: outside disc; */
    /* list-style: square inside url(https://notes.nicolasdeville.com/images/edelweiss_black.svg); */
    list-style-image: url(https://notes.nicolasdeville.com/images/edelweiss_black.svg);
    /* margin: 0em 0 0 1.5em; */
    width: 100%;
}

ol {
	list-style: outside decimal;
	margin: 0em 0 0 1.5em;
}

li {
    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-right: 0.5em;
    margin-left: 1.5em;
    /* width: 100%; */
}

/* Articles */
.post-info {
    width: 100%;
    text-align: right;
    margin: 0;
    margin-right: 0.5em;
    padding: 0;
    /* border-right: 2px solid #eee;
    border-bottom: 2px solid #eee; */
    box-shadow: 0 0px 0px 0 #eee; /* offset-x | offset-y | blur-radius | spread-radius | color */
}

/* .post-info p{
    /* margin-top: 1px;
    margin-bottom: 1px; */

.readmore { float: right }

dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {
    margin-left: 1.5em;
}

pre {
    background-color: #1d1d1d; 
    color: #fff;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    /* margin: 10px;  */
    overflow: auto;
    border-radius: 0.5em;
    /* font-size: .7rem; */
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
/* pre:hover, pre:focus {
    width: min-content; 
} */

code {
    background-color: #1d1d1d;
    /* width: 100%; */
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace, Courier;
    font-size: .8em;
    /* line-height: 1.2rem; */
    overflow-wrap: normal;
    display: inline-block;
    /* border: solid 2px #5882FA; */
    /* color: #C74350; */
    color: #9CDAFC;
    /* border: solid 1px #fff; */
    border-radius: 0.3em;
    padding: 2px 5px 2px 5px; /* needed for code inline */
    margin: 0px 3px 0px 3px;
    /* white-space: nowrap; puts all on one line */
}

blockquote {

    display: block;
    background: #ddd;
    padding: 0.5em 1em 0.5em 1em;
    /* margin: 0 0 20px; */
    position: relative;

    /* font-family: Georgia, serif; */
    font-size: 1.1em;
    line-height: 1.2;
    color: #000;

    margin-top: 1em;
    margin-bottom: 1em;

    /*Box Shadow*/
    /* -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000; */

    /*Borders - (Optional)*/
    border-left-style: solid;
    border-left-width: 15px;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;

    border-left-color: #000;
    border-right-color: #000;
    border-top-color: #000;
    border-bottom-color: #000;
}

/* cite {} */

/* q {} */

div.note {
    float: right;
    margin: 5px;
    font-size: 85%;
    max-width: 300px;
}

/* Tables */
table {
    margin: .5em auto 1.5em auto; 
    width: 100%;
}

	/* Thead */
	thead th {
        padding: .5em .4em; 
        text-align: left;
        font-weight: bold;
        font-size: 1.1em;
        border-bottom: 1px solid black;
        vertical-align: bottom;
        color: white;
        background-color: black;
        line-height: 1em;
    }
	thead td {}

	/* Tbody */
	tbody td {
        padding: .5em .4em;
        vertical-align: top;
        border-bottom: 1px solid black;
    }
	tbody th {}

	tbody .alt td {}
	tbody .alt th {}

	/* Tfoot */
	tfoot th {}
	tfoot td {}

    /* to ensure content in first column does not wrap */
    tbody > tr:first-child > td:first-child {
        white-space: nowrap; 
    }




/*
	Header
*****************/
#banner {
	margin: 0;
	padding: 0;
}

	/* Banner */
	#banner h1 {
		font-size: 2em;
		line-height: 1.0;
		margin-bottom: .2em;
        margin-top: .2em;
	}

	#banner h1 a:link, #banner h1 a:visited {
		color: #000305;
		display: block;
		font-weight: bold;
		margin: 0 0 0 .2em;
		text-decoration: none;
	}
	#banner h1 a:hover, #banner h1 a:active {
		background: none;
		color: #C74350;
		text-shadow: none;
	}

	#banner h1 strong {
    font-size: 0.36em;
    font-weight: normal;
    }

	/* Main Nav */
	#banner nav {
		background: #000305;
		font-size: 1.1em;
		overflow: auto;
		line-height: 30px;
		/* margin: 0 auto 2em auto; */
		padding: 0;
        margin: 0;
		text-align: center;
		max-width: 800px;
	}

	#banner nav ul {
    list-style: none;
    /* margin: 0 auto; top | right | bottom | left */
    margin: 0;
    /* max-width: 800px; */
    }
	#banner nav li {
    float: left;
    display: inline;
    margin: 0;
    }

	#banner nav a:link, #banner nav a:visited {
		color: #fff;
		display: inline-block;
		height: 30px;
		padding: 3px 1em;
		text-decoration: none;
	}
	#banner nav a:hover, #banner nav a:active,
	#banner nav .active a:link, #banner nav .active a:visited {
		background: #C74451;
		color: #fff;
		text-shadow: none !important;
	}

/*
	Featured
*****************/
#featured {
    padding-right: 0.5em;
}


/*
	Body
*****************/
#content {
	background: #fff;
	margin-bottom: 2em;
	overflow: hidden;
	/* padding: 20px 20px; */
	max-width: 800px;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

/*
	Extras
*****************/
#extras {margin: 0 auto 3em auto; overflow: hidden;}

#extras ul {list-style: none; margin: 0;}
#extras li {border-bottom: 1px solid #fff;}
#extras h2 {
	color: #C74350;
	font-size: 1.429em;
	margin-bottom: .25em;
	padding: 0 3px;
}

#extras a:link, #extras a:visited {
	color: #444;
	display: block;
	border-bottom: 1px solid #F4E3E3;
	text-decoration: none;
	padding: .3em .25em;
}

#extras a:hover, #extras a:active {color: #C74350;}

	/* Blogroll */
	#extras .blogroll {
        margin-left: 1em;
        margin-right: 0.5em;
        line-height: 2em;
		float: left;
		max-width: 200px;
	}

	#extras .blogroll li {float: left; margin: 0 20px 0 0; max-width: 185px;}

	/* Social */
	#extras .social {
		float: right;
		max-width: 175px;
        margin-right: 0.5em;
	}

	#extras div[class='social'] a {
		background-repeat: no-repeat;
		background-position: 3px 6px;
		padding-left: 25px;
	}

		/* Icons */
		.social a[href*='about.me'] {background-image: url('../images/icons/aboutme.png');}
		.social a[href*='github.com'],
		.social a[href*='git.io'] {
			background-image: url('../images/icons/github.png');
			background-size: 16px 16px;
		}
		.social a[href*='linkedin.com'] {
        background-image: url('../images/icons/linkedin.svg');
        background-size: 16px 16px;
    }
		.social a[href*='reddit.com'] {background-image: url('../images/icons/reddit.png');}
		.social a[href*='stackoverflow.com'] {background-image: url('../images/icons/stackoverflow.png');}
		.social a[href*='twitter.com'] {
        background-image: url('../images/icons/twitter.svg');
        background-size: 16px 16px;
    }

    /* .blogroll a[href*='indeXall.io'] {
        background-image: url('../images/icons/indeXall.svg');
        background-size: 16px 16px;
    } */

/*
	About
*****************/
#about {
	background: #fff;
	font-style: normal;
	margin: 1em;
	overflow: hidden;
	/* padding: 20px; */
	text-align: left;
	max-width: 760px;
}

#about .primary {
    float: left;
    max-width: 165px;
}
#about .primary strong {
    color: #C64350;
    display: block;
    font-size: 1.286em;
}
#about .photo {
    float: left;
    margin: 5px 20px;
}

#about .url:link, #about .url:visited {text-decoration: none;}

#about .bio {float: right; max-width: 500px;}

/*
	Footer
*****************/
#contentinfo {
    padding-bottom: 2em;
    text-align: right;
}

/***** Sections *****/
/* Blog */
.hentry {
	display: block;
	clear: both;
	border-top: 2px solid #eee;
    border-left: 4px solid #eee;
	padding: 0 0 0 1em; /* top | right | bottom | left */
}
li:first-child .hentry, #content > .hentry {
    border: 0;
    margin: 0;
	border-top: 2px solid #eee;
    border-left: 4px solid #eee;
}

#content > .hentry {
    padding: 0 0 0 1em;
}
/* .hentry img{display : none ;} */

.entry-title {
    font-size: 2em;
    margin-bottom: 5px;
    /* margin-left: 0.5em; */
  /* margin-top: 1em; */
}
.entry-title a:link, .entry-title a:visited {
    text-decoration: none;
    color: #333;
}
.entry-title a:visited {
    background-color: #fff;
}

.entry-content {
    margin-left: 1em;
    margin-right: 0.5em;
}

.hentry .post-info * {
    font-style: normal;
}

	/* Content */
	.hentry footer {
    margin-bottom: 1em;
}
	.hentry footer address {
    display: inline;
}

	#posts-list footer address {
    display: block;
}

	/* Blog Index */
	#posts-list {
    list-style: none;
    margin: 0;
}
	/* #posts-list .hentry {padding-left: 10px; position: relative;} */

	#posts-list footer {
		/* left: 10px; */
		position: relative;
        float: left;
		/* top: 0.5em; */
		/* max-width: 190px; */
	}

	/* About the Author */
	#about-author {
		background: #f9f9f9;
		clear: both;
		font-style: normal;
		margin: 2em 0;
		padding: 10px 20px 15px 20px;

	}

	#about-author strong {
		color: #C64350;
		clear: both;
		display: block;
		font-size: 1.429em;
	}

	#about-author .photo {border: 1px solid #ddd; float: left; margin: 5px 1em 0 0;}

	/* Comments */
	#comments-list {list-style: none; margin: 0 1em;}
	#comments-list blockquote {
		background: #f8f8f8;
		clear: both;
		font-style: normal;
		margin: 0;
		padding: 15px 20px;
	}
	#comments-list footer {
    color: #888;
    padding: .5em 1em 0 0;
    text-align: right;
    }

	#comments-list li:nth-child(2n) blockquote {background: #F5f5f5;}

	/* Add a Comment */
	#add-comment label {clear: left; float: left; text-align: left; max-width: 150px;}
	#add-comment input[type='text'],
	#add-comment input[type='email'],
	#add-comment input[type='url'] {float: left; max-width: 200px;}

	#add-comment textarea {float: left; height: 150px; max-width: 495px;}

	#add-comment p.req {clear: both; margin: 0 .5em 1em 0; text-align: right;}

	#add-comment input[type='submit'] {float: right; margin: 0 .5em;}
	#add-comment * {margin-bottom: .5em;}

/* LINK TAGS */

.link_tag:link {
    background-color: black;
    color: white;
    padding-top: 0.3em;
    padding-right: 0.5em;
    padding-bottom: 0.3em;
    padding-left: 0.5em;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border-radius: 3px;
    /* border: 2px solid #000000; */
    /* line-height: 5em; */
}

.link_tag:visited {
    background-color: black;
    color: white;
    /* text-align: center; */
    /* display: inline-block; */
    /* text-decoration: none; */
    /* border-radius: 4px; */
    /* line-height: 5em; */
}

.link_tag:hover, .link_tag:active {
    background-color: #C74350;
    /* color: white; */
    /* text-decoration: underline; */
    /* border: 2px solid white; */
}


.illustration {
    box-shadow: 4px 4px 10px #000; /* offset-x | offset-y | blur-radius | color */
    margin: auto;
    display: block;
}

.screenshot {
    margin: auto, auto, auto, 0;
    display: block;
}

.iphone {
    box-shadow: 4px 4px 10px #000; /* offset-x | offset-y | blur-radius | color */
    width: 50%;
    margin: auto;
    display: block;
}

.book {
    box-shadow: 4px 4px 10px #000; /* offset-x | offset-y | blur-radius | color */
    width: 50%;
    margin: auto;
    display: block;
}

.header_image {
    padding: 5px 0px 3px 0px;
}

.header_table {
    vertical-align: middle;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}

.header_summary {
    color: inherit;
    width: 100%;
}
/* .header_summary:before {
    content: ':::';
    color: #C64350;
} */

.fitwidth {
    width: 60px;
    white-space: nowrap;
}

.hfeed { /* removes the indent in post feeds */
    padding: 0;
    margin-right: 0.5em;
}

.separator {
    color: #C64350;
    font-size: 1.2em;
}

.notes-section {
    font-size: 2em;
    line-height: 1em;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 8px;
    margin-bottom: 0px;
    padding: 0px;
}

.title_container {
    display: block;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
}

.article_container {
    width: 100%;
    padding: 1em 1em 1em 1em;
    border: 1px solid #000;
    position: relative;
    padding: 1em 1em 1em 1em;
}

.shadow {
  /* box-shadow: 1px 1px 1px 1px; */
    box-shadow: 4px 4px 10px #eee;
    padding: 1px 0 0.1em 1em;
  /* margin: 1em; */
}

.foldtl {
    position: relative;
    -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
    -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
}

.foldtl:before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 0px;
    height: 0px;
    border-bottom: 70px solid #eee;
    border-left: 70px solid #272822; /*Set to background color, not transparent!*/
    -webkit-box-shadow: 7px 7px 7px rgba(0,0,0,0.3);
    -moz-box-shadow: 7px 7px 7px rgba(0,0,0,0.3);
    box-shadow: 7px 7px 7px rgba(0,0,0,0.3);
}



.twitter-tweet {
    margin: auto;
}

/* for line number colouring in code blocks */
.normal {  
    color: #fff;
    font-weight: bold;
    font-size: 1.1em;
}

.movie-script {
    /* background: #fff; */
    /* color: white; */
}

.search-input-block {
    float: right;
    padding-top: 1em;
    padding-bottom: 1em;
    vertical-align: top;
}

.search-input {
    width: 200px;
    font-family: 'Lato', Arial, sans-serif;
}

.datestamp {
    font-size: 0.8em;
    font-weight: bold;
    color: #333;
    background-color: #ddd;
    padding: 0.3em 0.5em 0.3em 0.5em;
    border: solid 3px #999;
    border-radius: 1.5em;
    line-height: 3em; /* to avoid overlap over lines */
    margin-right: 0.5em;
}

/* TEST */

.test {
    display: block;
    width: 100%;
    text-align: right;
    margin: 0px;
    padding: 0 10px 0 0;
    border-right: 2px solid #eee;
    border-bottom: 2px solid #eee;
    box-shadow: 3px 6px 0 0 #eee; /* offset-x | offset-y | blur-radius | spread-radius | color */
}

:root {
    --color-scheme: light;
    --dark-value: 10%;
    --darker-value: 15%;
    --darkest-value: 30%;
    --light-value: 15%;
    --lighter-value: 30%;
    --lightest-value: 50%;
    --contrast-background-value: 90%;
    --contrast-foreground-value: 70%;
    --contrast-background-dark-value: 70%;
    --contrast-foreground-dark-value: 90%;
    --color-primary: #3578e5;
    --color-secondary: #ebedf0;
    --color-success: #00a400;
    --color-info: #54c7ec;
    --color-warning: #ffba00;
    --color-danger: #fa383e;
    --color-primary-dark: #306cce;
    --color-primary-darker: #2d66c3;
    --color-primary-darkest: #2554a0;
    --color-primary-light: #538ce9;
    --color-primary-lighter: #72a1ed;
    --color-primary-lightest: #9abcf2;
    --color-primary-contrast-background: #ebf2fc;
    --color-primary-contrast-foreground: #102445;
    --color-secondary-dark: #d4d5d8;
    --color-secondary-darker: #c8c9cc;
    --color-secondary-darkest: #a4a6a8;
    --color-secondary-light: #eef0f2;
    --color-secondary-lighter: #f1f2f5;
    --color-secondary-lightest: #f5f6f8;
    --color-secondary-contrast-background: #fdfdfe;
    --color-secondary-contrast-foreground: #474748;
    --color-success-dark: #009400;
    --color-success-darker: #008b00;
    --color-success-darkest: #007300;
    --color-success-light: #26b226;
    --color-success-lighter: #4dbf4d;
    --color-success-lightest: #80d280;
    --color-success-contrast-background: #e6f6e6;
    --color-success-contrast-foreground: #003100;
    --color-info-dark: #4cb3d4;
    --color-info-darker: #47a9c9;
    --color-info-darkest: #3b8ba5;
    --color-info-light: #6ecfef;
    --color-info-lighter: #87d8f2;
    --color-info-lightest: #aae3f6;
    --color-info-contrast-background: #eef9fd;
    --color-info-contrast-foreground: #193c47;
    --color-warning-dark: #e6a700;
    --color-warning-darker: #d99e00;
    --color-warning-darkest: #b38200;
    --color-warning-light: #ffc426;
    --color-warning-lighter: #ffcf4d;
    --color-warning-lightest: #ffdd80;
    --color-warning-contrast-background: #fff8e6;
    --color-warning-contrast-foreground: #4d3800;
    --color-danger-dark: #e13238;
    --color-danger-darker: #d53035;
    --color-danger-darkest: #af272b;
    --color-danger-light: #fb565b;
    --color-danger-lighter: #fb7478;
    --color-danger-lightest: #fd9c9f;
    --color-danger-contrast-background: #ffebec;
    --color-danger-contrast-foreground: #4b1113;
    --color-white: #fff;
    --color-black: #000;
    --color-gray-0: var(--color-white);
    --color-gray-100: #f5f6f7;
    --color-gray-200: #ebedf0;
    --color-gray-300: #dadde1;
    --color-gray-400: #ccd0d5;
    --color-gray-500: #bec3c9;
    --color-gray-600: #8d949e;
    --color-gray-700: #606770;
    --color-gray-800: #444950;
    --color-gray-900: #1c1e21;
    --color-gray-1000: var(--color-black);
    --color-emphasis-0: var(--color-gray-0);
    --color-emphasis-100: var(--color-gray-100);
    --color-emphasis-200: var(--color-gray-200);
    --color-emphasis-300: var(--color-gray-300);
    --color-emphasis-400: var(--color-gray-400);
    --color-emphasis-600: var(--color-gray-600);
    --color-emphasis-700: var(--color-gray-700);
    --color-emphasis-800: var(--color-gray-800);
    --color-emphasis-900: var(--color-gray-900);
    --color-emphasis-1000: var(--color-gray-1000);
    --color-content: var(--color-emphasis-900);
    --color-content-inverse: var(--color-emphasis-0);
    --color-content-secondary: #525860;
    --background-color: transparent;
    --background-surface-color: var(--color-content-inverse);
    --global-border-width: 1px;
    --global-radius: 0.4rem;
    --hover-overlay: rgba(0, 0, 0, .05);
    --font-color-base: var(--color-content);
    --font-color-base-inverse: var(--color-content-inverse);
    --font-color-secondary: var(--color-content-secondary);
    --font-family-base: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font-size-base: 100%;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-semibold: 500;
    --font-weight-bold: 700;
    --font-weight-base: var(--font-weight-normal);
    --line-height-base: 1.65;
    --global-spacing: 1rem;
    --spacing-vertical: var(--global-spacing);
    --spacing-horizontal: var(--global-spacing);
    --transition-fast: 200ms;
    --transition-slow: 400ms;
    --transition-timing-default: cubic-bezier(0.08, 0.52, 0.52, 1);
    --global-shadow-lw: 0 1px 2px 0 rgba(0, 0, 0, .1);
    --global-shadow-md: 0 5px 40px rgba(0, 0, 0, .2);
    --global-shadow-tl: 0 12px 28px 0 rgba(0, 0, 0, .2), 0 2px 4px 0 rgba(0, 0, 0, .1);
    --z-index-dropdown: 100;
    --z-index-fixed: 200;
    --z-index-overlay: 400;
    --container-width: 1140px;
    --container-width-xl: 1320px;
    --code-background: #f6f7f8;
    --code-border-radius: var(--global-radius);
    --code-font-size: 90%;
    --code-padding-horizontal: 0.1rem;
    --code-padding-vertical: 0.1rem;
    --pre-background: var(--color-emphasis-100);
    --pre-border-radius: var(--code-border-radius);
    --pre-color: inherit;
    --pre-line-height: 1.45;
    --pre-padding: 1rem;
    --heading-color: inherit;
    --heading-margin-top: 0;
    --heading-margin-bottom: var(--spacing-vertical);
    --heading-font-family: var(--font-family-base);
    --heading-font-weight: var(--font-weight-bold);
    --heading-line-height: 1.25;
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --h4-font-size: 1rem;
    --h5-font-size: 0.875rem;
    --h6-font-size: 0.85rem;
    --image-alignment-padding: 1.25rem;
    --leading-desktop: 1.25;
    --leading: calc(var(--leading-desktop)*1rem);
    --list-left-padding: 2rem;
    --list-margin: 1rem;
    --list-item-margin: 0.25rem;
    --list-paragraph-margin: 1rem;
    --table-cell-padding: 0.75rem;
    --table-background: transparent;
    --table-stripe-background: var(--color-emphasis-100);
    --table-border-width: 1px;
    --table-border-color: var(--color-emphasis-300);
    --table-head-background: inherit;
    --table-head-color: inherit;
    --table-head-font-weight: var(--font-weight-bold);
    --table-cell-color: inherit;
    --link-color: var(--color-primary);
    --link-decoration: none;
    --link-hover-color: var(--link-color);
    --link-hover-decoration: underline;
    --paragraph-margin-bottom: var(--leading);
    --blockquote-font-size: var(--font-size-base);
    --blockquote-border-left-width: 2px;
    --blockquote-padding-horizontal: var(--spacing-horizontal);
    --blockquote-padding-vertical: 0;
    --blockquote-shadow: none;
    --blockquote-color: var(--color-emphasis-800);
    --blockquote-border-color: var(--color-emphasis-300);
    --hr-border-color: var(--color-emphasis-500);
    --hr-border-width: 1px;
    --hr-margin-vertical: 1.5rem;
    --scrollbar-size: 7px;
    --scrollbar-track-background-color: #f1f1f1;
    --scrollbar-thumb-background-color: silver;
    --scrollbar-thumb-hover-background-color: #a7a7a7;
    --alert-background-color: inherit;
    --alert-border-color: inherit;
    --alert-border-radius: var(--global-radius);
    --alert-border-width: 0px;
    --alert-border-left-width: 5px;
    --alert-color: var(--font-color-base);
    --alert-padding-horizontal: var(--spacing-horizontal);
    --alert-padding-vertical: var(--spacing-vertical);
    --alert-shadow: var(--global-shadow-lw);
    --avatar-intro-margin: 1rem;
    --avatar-intro-alignment: inherit;
    --avatar-photo-size-sm: 2rem;
    --avatar-photo-size-md: 3rem;
    --avatar-photo-size-lg: 4rem;
    --avatar-photo-size-xl: 6rem;
    --badge-background-color: inherit;
    --badge-border-color: inherit;
    --badge-border-radius: var(--global-radius);
    --badge-border-width: var(--global-border-width);
    --badge-color: var(--color-white);
    --badge-padding-horizontal: calc(var(--spacing-horizontal)*0.5);
    --badge-padding-vertical: calc(var(--spacing-vertical)*0.25);
    --breadcrumb-border-radius: 1.5rem;
    --breadcrumb-spacing: 0.0625rem;
    --breadcrumb-color-active: var(--color-primary);
    --breadcrumb-item-background-active: var(--hover-overlay);
    --breadcrumb-padding-horizontal: 1rem;
    --breadcrumb-padding-vertical: 0.5rem;
    --breadcrumb-size-multiplier: 1;
    --breadcrumb-separator: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 256 256"><g><g><polygon points="79.093,0 48.907,30.187 146.72,128 48.907,225.813 79.093,256 207.093,128"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>');
    --breadcrumb-separator-filter: none;
    --breadcrumb-separator-size: 0.5rem;
    --breadcrumb-separator-size-multiplier: 1.25;
    --button-background-color: inherit;
    --button-border-color: var(--button-background-color);
    --button-border-width: var(--global-border-width);
    --button-font-weight: var(--font-weight-bold);
    --button-padding-horizontal: 1.5rem;
    --button-padding-vertical: 0.375rem;
    --button-size-multiplier: 1;
    --button-transition-duration: var(--transition-fast);
    --button-border-radius: calc(var(--global-radius)*var(--button-size-multiplier));
    --button-group-margin: 2px;
    --card-background-color: var(--background-surface-color);
    --card-border-radius: calc(var(--global-radius)*2);
    --card-horizontal-spacing: var(--global-spacing);
    --card-vertical-spacing: var(--global-spacing);
    --toc-border-color: var(--color-emphasis-300);
    --toc-link-color: var(--color-content-secondary);
    --toc-padding-vertical: 0.5rem;
    --toc-padding-horizontal: 0.5rem;
    --dropdown-background-color: var(--background-surface-color);
    --dropdown-font-weight: var(--font-weight-semibold);
    --dropdown-link-color: var(--font-color-base);
    --dropdown-hover-background-color: var(--hover-overlay);
    --footer-background-color: var(--color-emphasis-100);
    --footer-color: inherit;
    --footer-link-color: var(--color-emphasis-700);
    --footer-link-hover-color: var(--color-primary);
    --footer-link-horizontal-spacing: 0.5rem;
    --footer-padding-horizontal: calc(var(--spacing-horizontal)*2);
    --footer-padding-vertical: calc(var(--spacing-vertical)*2);
    --footer-title-color: inherit;
    --hero-background-color: var(--background-surface-color);
    --hero-text-color: var(--color-emphasis-800);
    --menu-color: var(--color-emphasis-700);
    --menu-color-active: var(--color-primary);
    --menu-color-background-active: var(--hover-overlay);
    --menu-color-background-hover: var(--hover-overlay);
    --menu-link-padding-horizontal: 1rem;
    --menu-link-padding-vertical: 0.375rem;
    --menu-link-sublist-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"><path fill="rgba(0,0,0,0.5)" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>');
    --menu-link-sublist-icon-filter: none;
    --navbar-background-color: var(--background-surface-color);
    --navbar-height: 3.75rem;
    --navbar-item-padding-horizontal: 0.75rem;
    --navbar-item-padding-vertical: 0.25rem;
    --navbar-link-color: var(--font-color-base);
    --navbar-link-active-color: var(--link-color);
    --navbar-padding-horizontal: var(--spacing-horizontal);
    --navbar-padding-vertical: calc(var(--spacing-vertical)*0.5);
    --navbar-shadow: var(--global-shadow-lw);
    --navbar-search-input-background-color: var(--color-emphasis-200);
    --navbar-search-input-color: var(--color-emphasis-800);
    --navbar-search-input-placeholder-color: var(--color-emphasis-500);
    --navbar-search-input-icon: url('data:image/svg+xml;utf8,<svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="16px" width="16px"><path d="M6.02945,10.20327a4.17382,4.17382,0,1,1,4.17382-4.17382A4.15609,4.15609,0,0,1,6.02945,10.20327Zm9.69195,4.2199L10.8989,9.59979A5.88021,5.88021,0,0,0,12.058,6.02856,6.00467,6.00467,0,1,0,9.59979,10.8989l4.82338,4.82338a.89729.89729,0,0,0,1.29912,0,.89749.89749,0,0,0-.00087-1.29909Z" /></svg>');
    --navbar-sidebar-width: 83vw;
    --pagination-border-radius: calc(var(--global-radius)*var(--pagination-size-multiplier));
    --pagination-color-active: var(--color-primary);
    --pagination-font-size: 1rem;
    --pagination-item-active-background: var(--hover-overlay);
    --pagination-page-spacing: 0.0625rem;
    --pagination-padding-horizontal: calc(var(--spacing-horizontal)*1);
    --pagination-padding-vertical: calc(var(--spacing-vertical)*0.25);
    --pagination-size-multiplier: 1;
    --pagination-nav-border-radius: var(--global-radius);
    --pagination-nav-color-hover: var(--color-primary);
    --pills-color-active: var(--color-primary);
    --pills-color-background-active: var(--hover-overlay);
    --pills-spacing: 0.0625rem;
    --tabs-color: var(--font-color-secondary);
    --tabs-color-active: var(--color-primary);
    --tabs-color-active-border: var(--tabs-color-active);
    --tabs-padding-horizontal: 1rem;
    --tabs-padding-vertical: 1rem;
    --tabs-spacing: 0.0625rem
}

.test {
    --code-background: var(--alert-background-color-highlight);
    --link-color: var(--alert-foreground-color);
    --link-hover-color: var(--alert-foreground-color);
    --link-decoration: underline;
    --tabs-color: var(--alert-foreground-color);
    --tabs-color-active: var(--alert-foreground-color);
    --tabs-color-active-border: var(--alert-border-color);
    background-color: var(--alert-background-color);
    border-left-width: var(--alert-border-width);
    border: var(--alert-border-width) solid var(--alert-border-color);
    border-left: var(--alert-border-left-width) solid var(--alert-border-color);
    border-radius: var(--alert-border-radius);
    box-shadow: var(--alert-shadow);
    padding: var(--alert-padding-vertical) var(--alert-padding-horizontal);

    --alert-background-color: var(--color-success-contrast-background);
    --alert-background-color-highlight: rgba(0, 164, 0, .15);
    --alert-foreground-color: var(--color-success-contrast-foreground);
    --alert-border-color: var(--color-success-dark)

}