

.hll {
background-color:#1d1d1d;
}
.c {
color:#699954;
font-style:italic;
}
.err {
border:1px solid #FF0000;
}

.o {
color:#666666;
}
.cm {
color:#408090;
font-style:italic;
}
.cp {
color:#007020;
}
.c1 {
color:#699954;
font-style:italic;
}
.cs {
background-color:#FFF0F0;
color:#408090;
}
.gd {
color:#A00000;
}
.ge {
font-style:italic;
}
.gr {
color:#FF0000;
}
.gh {
color:#000080;
font-weight:bold;
}
.gi {
color:#00A000;
}
.go {
color:#303030;
}
.gp {
color:#C65D09;
font-weight:bold;
}
.gs {
font-weight:bold;
}
.gu {
color:#800080;
font-weight:bold;
}
.gt {
color:#0040D0;
}

.k {
color:#C486C0;
font-weight:bold;
}

.kc {
color:#569CD6;
font-weight:bold;
}
.kd {
color:#007020;
font-weight:bold;
}
.kn {
color:#C486C0;
font-weight:bold;
}
.kp {
color:#007020;
}
.kr {
color:#007020;
font-weight:bold;
}
.kt {
color:#B5CEA7;
}
.m {
color:#208050;
}


.n {
color:#9CDBFE;
}

.na {
color:#9CDBFE;
}
.nb {
color:#DBDBAA;
}
.nc {
color:#D6B97C;
font-weight:bold;
}
.no {
color:#60ADD5;
}
.nd {
color:#D6B97C;
font-weight:bold;
}
.ni {
color:#99D6F8;
font-weight:bold;
}
.ne {
color:#007020;
}
.nf {
color:#DBDBAA;
}
.nl {
color:#002070;
font-weight:bold;
}
.nn {
color:#4DC8AF;
font-weight:bold;
}
.nt {
color:#569CD6;
font-weight:bold;
}
.nv {
color:#BB60D5;
}

.o {
    color:#F4CE02;
}

.ow {
color:#C486C0;
font-weight:bold;
}
.w {
color:#BBBBBB;
}
.mf {
color:#208050;
}
.mh {
color:#208050;
}
.mi {
color:#B5CEA7;
}
.mo {
    color:#208050;
}

.p {
    color:#D3D3D3;
}

.s {
color:#CE9178;
}

.sb {
color:#4070A0;
}
.sc {
color:#4070A0;
}
.sd {
color:#4070A0;
font-style:italic;
}

.s1 {
    color:#CE9178;
}

.s2 {
color:#C88D74;
}
.se {
color:#D6B97B;
font-weight:bold;
}
.sh {
color:#4070A0;
}

.si {
color:#CE9178;
/* font-style:italic; */
}

.sx {
color:#C65D09;
}
.sr {
color:#235388;
}
.s1 {
color:#CE9178;
}
.ss {
color:#517918;
}
.bp {
color:#007020;
}
.vc {
color:#BB60D5;
}
.vg {
color:#BB60D5;
}
.vi {
color:#BB60D5;
}
.il {
color:#208050;
}
